.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 99%;
    padding: 30px;
}

.container h2 {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container form {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form {
    width: 100%;
}

.botones {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actualizar {
    width: 65%;
}

.eliminar {
    width: 25%;
    background-color: red !important;
}

mat-form-field {
    width: 60%;
}