<div class="contenedor">
    <h2>Lista de clientes</h2>
    <div class="tabla-scroll">
        <table>
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
            </thead>
            <tbody>
                <ng-container *ngFor="let cliente of clientes">
                    <tr (click)="openDialog(cliente)">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.direccion }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>